# Folders and Files for Git to Ignore

## Folders
.vscode/
game/cache/
game/saves/

## Files
attempted_gpt_guidelines_to_edit_text.txt
log.txt
traceback.txt
errors.txt
project.json
# Game Cache Files (add to when .rpy files are created)
game/*.rpyc
game/*.rpy.bak