# Folders and Files for Git to Ignore

## Folders
.vscode/
game/cache/
game/saves/

## Files
attempted_gpt_guidelines_to_edit_text.txt
log.txt
traceback.txt
errors.txt
# Game Cache Files (add to when .rpy files are created)
game/characters.rpyc
game/e1e2e3.rpyc
game/gameplay_variables.rpyc
game/gui.rpyc
game/options.rpyc
game/screens.rpyc
game/script.rpyc